{{#affinity-engine-animation-box-wrapper
  animator=animator
  classNames="ae-hidden"
  transitionIn=transitionIn
  transitionOut=transitionOut
  willTransitionOut=willTransitionOut
  didTransitionOut=didTransitionOut
}}
  <div class="ae-screen" data-test={{hook "affinity_engine_menu_bar_menu_screen"}} {{action closeModal}}></div>

  <div class="ae-menu {{customClassNames}}">
    {{#if translatedHeader}}
      <div class="ae-menu-text" data-test={{hook "affinity_engine_menu_bar_menu_header"}}>{{translatedHeader}}</div>
    {{/if}}

    {{#if choices}}
      {{ember-flex-menu
        acceptKeys=acceptKeys
        cancelKeys=cancelKeys
        choices=translatedChoices
        columns=columns
        htmlSafe=true
        iconFamily=iconFamily
        keyboardActivated=keyboardActivated
        keyboardPriority=keyboardPriority
        moveDownKeys=moveDownKeys
        moveLeftKeys=moveLeftKeys
        moveRightKeys=moveRightKeys
        moveUpKeys=moveUpKeys
        onChoice=onChoice
      }}
    {{/if}}
  </div>
{{/affinity-engine-animation-box-wrapper}}
